/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h1, h3 {
    text-align: center;
    color: #333;
}

div {
    margin-bottom: 10px;
}

label {
    display: block;
    margin: 5px 0;
    font-size: 14px;
}

input {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #45a049;
}

h3 {
    font-size: 18px;
}

span {
    font-weight: bold;
    color: #ff5733;
}

#add-gasto {
    background-color: #2196F3;
}

#add-gasto:hover {
    background-color: #1e88e5;
}
